{% extends 'base.html' %}
{% block content %}
<nav>
    <h1>
        <a href="/posts/feeds/">Pystagram</a>
    </h1>
    <a href="/user/logout/">Logout</a>
</nav>
<div id="feeds" class="post-container">
    <!-- 전달된 Post QuerySet 객체를 순회 -->
    {% for post in posts %}
    <article class="post">
        <header class="post-header">
            {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url }}">
            {% endif %}
            <span>{{ post.user.username }}</span>
        </header>
        <!-- 이미지 슬라이드 영역 시작 -->
        <div class="post-images splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for image in post.postimage_set.all %}
                        {% if image.photo %}
                            <li class="splide__slide">
                                <img src="{{ image.photo.url }}">
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- 이미지 슬라이드 영역 종료 -->
        <div class="post-content">
            {{ post.content|linebreaksbr }}
        </div>
        <div class="post-buttons">
            <button>Likes(0)</button>
            <span>Comments(0)</span>
        </div>
        <div class="post-comments">
            <ul>
                {% for comment in post.comment_set.all %}
                    <li>
                        <span>{{ comment.user.username }}</span>
                        <span>{{ comment.content }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <small>{{ post.created }}</small>
        <div class="post-comment-create">
            <input type="text" placeholder="댓글 달기...">
            <button type="submit">게시</button>
        </div>
    </article>
    {% endfor %}
</div>
<!-- content 블록의 최하단에 작성한다. -->
<script>
    const elms = document.getElementsByClassName('splide');
    for (let i = 0; i < elms.length; i++) {
        new Splide(elms[i]).mount();
    }
</script>
{% endblock %}



